/* 
    Document   : login
    Created on : May 26, 2015, 1:41:26 PM
    Author     : ilagjay
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

.form-signin {
   max-width: 330px;
   padding: 15px;
   margin: 0 auto;
   background-color: #ebebeb;
   border: 1px solid #e0e0e0;
   margin-top: 8px;
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;	
}

.not-member {
  margin-top: 10px;
}

.not-member a{
  margin-left: 10px;
}